.navigationItem {
	display: block;
	width: 100%;
	margin: 10px 0;
	box-sizing: border-box;
}

.navigationItem a {
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: #000;
	border-bottom: 4px solid transparent;
	box-sizing: border-box;
}

.navigationItem a:hover,
.navigationItem a:active,
.navigationItem a.active {
	background-color: #dfdfdf;
	color: #007cf7;
}

@media (min-width: 768px) {
	.navigationItem {
		display: flex;
		align-items: center;
		width: auto;
		height: 100%;
		margin: 0;
	}

	.navigationItem a {
		padding: 16px 10px;
		border-bottom: 4px solid transparent;
	}

	.navigationItem a:hover,
	.navigationItem a:active,
	.navigationItem a.active {
		background-color: #dfdfdf;
		border-bottom: 4px solid #007cf7;
	}
}