.button {
	display: inline-block;
	width: 50%;
	height: 20px;
	margin-top: 20px;
	border: none;
	background: none;
	text-align: center;
	cursor: pointer;
}

.success {
	color: #5c9210;
	border-color: #5c9210;
}

.danger {
	color: #944317;
	border-color: #944317;
}